header {
	background-color: rgba(51, 51, 51, 0.8);
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: monospace;
}
body {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and newer browsers */
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1240px;
	margin: 0 auto;
	padding: 20px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chapter-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.chapter-list li {
	margin: 10px;
	flex-basis: 228px;
}

.chapter-list a {
	color: #333;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5); /* add 50% transparency */
	padding: 10px;
	border-radius: 5px;
	display: block;
	box-shadow: 1px 1px 5px #aaa;
	transition: all 0.3s ease-in-out;
	backdrop-filter: blur(5px); /* add a blur effect to the background color */
}

.chapter-list img {
	max-width: 100%;
	border-radius: 5px;
}

.chapter-list p {
	margin-top: 5px;
	text-align: center;
}

.chapter-list a:hover {
	#transform: scale(1.1);
	background-color: rgb(205 205 205 / 50%);
	
	color: white;
}

footer {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px;
}

footer p {
  margin: 0;
}

