body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: ;
	background-repeat: no-repeat;
	background-size: contain;
	background-size: cover;
	background-position: center;
}

header {
	background-color: rgba(51, 51, 51, 0.8);
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.volume-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.volume-list li {
	margin: 10px;
	flex-basis: 300px;
}

.volume-list a {
	color: #333;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5); /* add 50% transparency */
	padding: 10px;
	border-radius: 5px;
	display: block;
	box-shadow: 1px 1px 5px #aaa;
	transition: all 0.3s ease-in-out;
	backdrop-filter: blur(5px); /* add a blur effect to the background color */
}

.volume-list img {
	max-width: 100%;
	border-radius: 5px;
}

.volume-list p {
	margin-top: 5px;
	text-align: center;
}

.volume-list a:hover {
	#transform: scale(1.1);
	background-color: rgba(160, 55, 200, 0.5); /* add 50% transparency */
	
	color: white;
}

footer {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}



.c-eStXTg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100%
                }
				
	.c-eStXTg-iiKFqHT-css {
                    background-image: url(./noise-light.png);
                    z-index: ;
                }